h1,
h2,
.sun {
  display: block;
  text-align: center;
  font-family: Helvetica;
  font-size: 34px;
  line-height: 48px;
  margin: 0;
}
h1 {
  color: #1a64d6;
}
h2 {
  font-weight: 400;
}
li,
.forecast {
  list-style: none;
  display: block;
  text-align: center;
  margin-bottom: 2rem;
  font-family: Helvetica;
}
button {
  display: block;
  border-radius: 1rem;
  margin: 0 auto;
}
small {
  display: block;
  text-align: center;
  margin-top: 2rem;
}
